.popup {
  width: 200px;
  padding: 10px 12px;
  font-size: 12px;
  font-family: Helvetica Neue;
}

.switch {
  margin: 0 0 22px -0.8em;
  display: flex;
  align-items: center;
}
.switch div {
  white-space: nowrap;
  margin-left: 12px;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 10px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label {
  background: #a8b9fa;
}

input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

label:active:after {
  width: 40px;
}

.control {
  margin-top: 8px;
}

.control .title {
  width: 100%;
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.15em;
}

.control .slider {
  width: 100%;
  display: flex;
  align-items: center;
}

.control .slider input {
  width: calc(100% - 45px);
  height: 4px;
  padding: 0;
  margin: 0 10px 0 0;
  border-radius: 2px;
  background: lightgrey;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.control .slider input::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  border: 1px solid #a8b9fa;
  transition: background .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.control .slider input::-webkit-slider-thumb:hover,
.control .slider input:active::-webkit-slider-thumb {
  background: #a8b9fa;
}

.control .slider span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45px;
  height: 20px;
  border-radius: 4px;
  background: #a8b9fa;
}
.control .slider span:after {
  content: '';
  position: absolute;
  top: 4px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid #a8b9fa;
  border-bottom: 6px solid transparent;
}

.control .color-picker {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.control .color-picker input {
  margin-right: 6px;
  border: 1px solid grey;
  background: none;
}
